# Python
backend/.venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment files
.env
.env.*

# Database
*.db

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

.venv/
.venv.zip
backend/.venv/
frontend/node_modules/
*.db
.env